@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


#brand {
  color: $secondary-color;
  font-weight: bold;
  margin-left: 20px;
  text-shadow: 0 1px 0 rgba($primary-color, 0.1), 0 0 30px rgba($primary-color, 0.125);
  transition: all 0.2s linear 0s;
  &:hover {
    color: $primary-color;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
  }
}
.sidebar {
  background: none repeat scroll 0 0 #fafafa;
  padding: 32px 20px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-item {
  width: 48%;
}
.main {
  display: none;
  &:first-child {
    display: block;
  }
}
.twocolumns{
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
}
.threecolumns{
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
}